<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.1) 0%, rgba(0,36,61,0.4) 50%), url('<%= cl_image_path "home-banner_udpi0p.jpg"%>');">
  <div class="banner-content">
    <h1>Mangez pour</h1>
    <h1>moins de 8€</h1>
    <a class="btn btn-primary btn-lg">GET IT</a>
  </div>
</div>
